/* =============================================

			Aaron's first CSS file

============================================= */

#num1 {
	padding: 1px;
	background-color: white;
	border: 2px inset;
	cursor: auto;
}

#num2 {
	padding: 1px;
	background-color: white;
	border: 2px inset;
	cursor: auto;
}

#pic {
	width: 120px;
	display: none;
	position: absolute;
	left:100px;
}